@using Drinks.Entities;

@model decimal

@{
    ViewBag.Title = "Welcome";
}

@{
    string labelClass = Model < 1 ? "label-primary" :
                        Model < 3 ? "label-danger" :
                        Model < 5 ? "label-warning" : "label-success";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Hi @UserContext.User.Name,</h1>
            <h3>You have <span class="label @labelClass">@Model.ToString("C")</span> loaded on your account.</h3>
        </div>
    </div>
</div>

@if (UserContext.User.Permissions.HasFlag(UserPermissions.CanAddMoney))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <b>Here you'll be able to see purchases in real time...</b>

            </div>
        </div>
    </div>
}