@using Drinks.Entities
@model Drinks.Web.Models.Shared.UserPrivilegesModel

<div class="checkbox-inline">
    <label>
        @Html.CheckBoxFor(x => x.CanMonitorPurchases, UserContext.User.Permissions.HasFlag(UserPermissions.CanMonitorPurchases) ? new { } : (object)(new { disabled = "disabled" })) Can monitor purchases
    </label>
</div>
<div class="checkbox-inline">
    <label>
        @Html.CheckBoxFor(x => x.IsAdmin, UserContext.User.Permissions.HasFlag(UserPermissions.IsAdmin) ? new { } : (object)(new { disabled = "disabled" })) Is Admin
    </label>
</div>